body {
    width: 280px;
}

body, select{
    font-size: 15px;
}

#sortList .draggable-sort-item {
    cursor: grab;
    user-select: none;
}

#sortList .draggable-sort-item.dragging {
    cursor: grabbing;
    opacity: 0.7;
}
